<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Form Buttons configuration -->
    <virtualType name="SoftCommerce\Profile\Ui\Component\Control\DeleteButton" type="SoftCommerce\Core\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="idFieldName" xsi:type="string">id</argument>
            <argument name="actionRoutePath" xsi:type="string">softcommerce/profile/delete</argument>
            <argument name="aclResource" xsi:type="string">SoftCommerce_Profile::manage</argument>
            <argument name="buttonClass" xsi:type="string">delete btn btn-secondary</argument>
            <!-- argument name="buttonLabel" xsi:type="string" translatable="true">Delete</argument -->
            <argument name="confirmationMessage" xsi:type="string" translatable="true">Confirm delete profile?</argument>
            <argument name="fontName" xsi:type="string">fa-solid fa-trash-can</argument>
            <argument name="sortOrder" xsi:type="number">10</argument>
        </arguments>
    </virtualType>
    <!-- Profile config data UI form modifier -->
    <virtualType name="SoftCommerce\Profile\Ui\DataProvider\Profile\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="profile_entity_data" xsi:type="array">
                    <item name="class" xsi:type="string">SoftCommerce\Profile\Ui\DataProvider\Profile\Form\Modifier\ProfileEntityData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="profile_config_data" xsi:type="array">
                    <item name="class" xsi:type="string">SoftCommerce\Profile\Ui\DataProvider\Profile\Form\Modifier\ProfileConfigData</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="SoftCommerce\Profile\Ui\DataProvider\Profile\Form\ProfileDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">SoftCommerce\Profile\Ui\DataProvider\Profile\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <!-- Profile UI metadata pool -->
    <preference for="SoftCommerce\Profile\Ui\DataProvider\Modifier\Form\MetadataPoolInterface" type="SoftCommerce\Profile\Ui\DataProvider\Modifier\Form\MetadataPool"/>
    <preference for="SoftCommerce\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScopeInterface" type="SoftCommerce\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScope"/>
    <preference for="SoftCommerce\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScopeStorageInterface" type="SoftCommerce\Profile\Ui\DataProvider\Profile\Config\Form\ConfigDataScopeStorage"/>
    <!-- Form Buttons configuration -->
    <virtualType name="SoftCommerce\Profile\Ui\Component\Control\Profile\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">softcommerce_profile_form.softcommerce_profile_form</argument>
        </arguments>
    </virtualType>
</config>
